/* All video related elements */

h1 {

}

header {
    margin-top: -60px;
}

.mobile-logo {
    display: none;
}

.photo-main-mobile {
    display: none;
}

.h1-index {
    text-shadow: 5px 8px 10px #222;
}

.main-video {
    size: landscape;
    max-width: 90%;
    margin: 5%;
    box-shadow: 5px 10px 20px -12px rgba(0, 0, 0, .8);
    }

.video-content {
    
    text-align: center;
    color: white;
    max-width: 90%;
    margin-top: -400px;
    margin-bottom: 200px;    
    padding: 50px;
    position: relative;
    
    
}

/* Navigation bar */

nav {
    width: 90%;
    background: white;
    padding: 15px;
    text-align: center;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 10px;
}

/* Main HTML elements */

body {
    font-family: 'Montserrat', expanded;
    color: black;
    background: white;   
}

p {
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #a8a8b3;
}

hr {
    text-align: auto;
    width: 100px;
    margin-top: 40px;
}

/* Burger menu */

.responsive-nav {
    display: none;
}

.menu-toggle {
    display: block;
    position: relative;
    margin-top: 20px;
    margin-left: 250px;
    z-index: 1;
}

.menu-toggle a {
    text-decoration: none;
    transition: color 0.3s ease;
    color: white;
}

.menu-toggle a:hover {
    color: tomato;
}

/* Burger button */

.menu-toggle input {
    display: block;
    position: absolute;
    width: 40px;
    height: 32px;
    margin-left: 1050px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
}

.menu-toggle span {
    display: block;
    width: 33px;
    height: 4px;
    background-color: black;
    margin-bottom: 5px;
    margin-left: 1050px;
    position: relative;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), background 0.5s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.55s ease;
}

.menu-toggle span:first-child {
    transform-origin: 0% 0%;
}

.menu-toggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

.menu-toggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: white;
}

.menu-toggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

.menu-toggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0px, -1px);
}

/*Menu ul */

.menu {
    opacity: 0;
    position: absolute;
    width: 230px;
    margin-left: 1100px;
    margin-top: -40px;
    background: black;
    list-style-type: none;
    transform-origin: 0% 0%; 
}

.menu li {
    padding: 10px 0;
    text-align: end ;
}

.menu-toggle ul {
    display: block;
    padding-top: 50px;
    padding-bottom: 10px;
}
.menu-toggle input:checked ~ ul {
    opacity: 1;
    transform: scale(0.0, 0.0);
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

/* Page content with text paragraphs */

#section1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: fit-content;
}

#section1 article {
    width: fit-content;
    font-family: 'Montserrat', sans-serif;
    background: white;
    line-height: 1.5;
    padding-left: 50px;
    padding-right: 50px;
}

#section1 h2 {
    color: black;
    text-align: center;
}

#section2 {
    display: grid;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 50px;
}

#section2 article {
    font-family: 'Montserrat', sans-serif;
    background: white;
    line-height: 1.5; 
}

#section2 h2 {
    color: black;
    text-align: center;
}

.photo-main {
    padding-left: 50px;
    padding-right: 50px;
    width: fit-content;
}
.photo-main img {
    width: 100%;
}

.footer {
    margin-top: 50px; 
    text-align: center;
    color: #84878a;
    font-size: small;   
}

footer {
    margin-top: 10rem;
}
/* Top button */

.top-button {
    text-align: right;
    position: sticky;
    bottom: 20px;
    max-height: 10px;
    max-width: 10px;
}

/* OFFRE page */

.offre-title {
    margin: 40px 100px 10px 100px;   
    text-align: center; 
}

.offre-text {
    margin: auto;
    position: relative;
    width: 400px;
    height: 650px;
}

.card {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px;
    padding: 10px;
    background-color:dimgray;
    color: white;
    margin-top: 40px;
    z-index: 1;

}

.btn-fwd {
    margin-left: 25rem;
    margin-top: 10rem;
    background-image: url(/img/animation_200_ldmtik3a.gif);
    width: 170px;
    height: 170px;
    border: none;
    position: absolute;
    z-index: 0;
    
}

.btn-back {
    margin-top: 10rem;
    margin-left: -11rem;
    background-image: url(/img/animation_200_ldmtdlez.gif);
    width: 170px;
    height: 170px;
    border: none;
    position: absolute;
    z-index: 0;
}

.visible {
    display: block;
}

.invisible {
    display: none !important;
}


/* FAQ page */

.faq-main-title{
    margin: 40px 100px 10px 100px;
}

.faq-title {
    margin: 40px 100px 10px 100px;
}

.faq-text {
    margin: 40px 100px 10px 100px;
    line-height: 2;
}

/* CONTACT page */

.contact-title {
    text-align: center;
}

section form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 2px;   
}

section form div {
    grid-column-start: 3;
    width: 400px;
}

input {
    width: 400px;
}

textarea {
    width: 400px;
}

.submit-button {
    width: 80px
    
}

/* VENDUS page */

.vendus {

}
.vendus h2 {
    text-align: center;
    color: black;
}

.img-cards {
    margin: auto;
    position: relative;
    width: 450px;
    height: 650px;
    border-radius: 30px;
    border-color:#c1c1c2; 
    border-style:ridge;  
    
}

.img-cards card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 600px;
    position: absolute;
    margin-left: 25px;
    margin-top: 20px;
}

.img-cards card img {
    width: 400px;
    border-radius: 30px;
}

.img-cards h3 {
    font-weight:900;
}
.img-cards p {
    text-align:justify;
    width: 400px;
}
.btn-fwd-cars {
    margin-left: 59rem;
    margin-top: -33rem;
    background-image: url(/img/animation_200_ldmtik3a.gif);
    width: 170px;
    height: 170px;
    border: none;
    position: absolute;
    z-index: 0;
}

.btn-back-cars {
    margin-top: 8.5rem;
    margin-left: 16.5rem;
    background-image: url(/img/animation_200_ldmtdlez.gif);
    width: 170px;
    height: 170px;
    border: none;
    position: absolute;
    z-index: 0;
}


/* Media Queries ------------------ */

@media (max-width: 1024px) {

/* HOME page */

    body {
        width: min-content;
    }
    .video-content {
        display: none;
    }
    .responsive-nav {
        display: contents;
    }
    .desktop-nav {
        display: none;
    }
    
    .top-button {
        margin-left: 70px;
    }

    .mobile-logo {
        display: block;
        margin-top: -70px;
        margin-bottom: 50px;
        margin-left: 80px;
        width: 300px;
    }

    .photo-main-mobile {
        display: block;
        margin-left: 40px;
    }
    .menu-toggle {
        margin: 50px 0 0 0;
        width: min-content;
    }

    .menu-toggle input {
        width: 80px;
        height: 62px;
        margin-left: 1140px;
        margin-top: 10px;
    }

    .menu-toggle span {
        width: 83px;
        height: 10px;
        margin-bottom: 10px;
        margin-left: 1160px;  
    }

    .menu-toggle input:checked ~ span {
        opacity: 1;
        transform: rotate(45deg) translate(-10px, -1px);
    }

    .menu-toggle input:checked ~ span:nth-last-child(2) {
        transform: rotate(-45deg) translate(-8px, -1px);
    }
    .menu-toggle input:checked ~ ul {
        opacity: 1;
        transform: scale(0.0, 0.0);
        transform: translate( -8%, 0);
        
    }
    
    .menu-toggle ul {
        width: 700px;
        margin-left: 570px;
        margin-top: -70px;
        display: block;
        padding-top: 120px;
        padding-bottom: 20px;
        padding-right: 15px;
        font-size: 50px;
    }

    .menu-toggle li {
        padding-bottom: 50px;
    }

    .main-video {
        display: none;
        }

    hr {
        display: none;
    }

    #section1 {
        display: flex;
        flex-direction: column;
        width: fit-content;
        margin-right: 50px; 
        margin-left: 50px;
    }

    #section1 article {
        width: fit-content;
        font-size: 50px;
    }

    #section2 {
        width: fit-content;
        margin-right: 50px; 
        margin-left: 50px;
    }

    #section2 article {
        width: fit-content;
        font-size: 50px;
    }

    /* OFFRE page */

    #menu-toggle-offre {
        margin-left: 650px;
    }

    #menu-toggle-offre input {
        margin-left: 700px;
    }

    #menu-toggle-offre span {
        margin-left: 700px;
    }

    #menu-toggle-offre ul {
        margin-left: 120px;
    }

    .offre-title {
        font-size: 1.5em;
        text-align: center;
    }
    .section-offre {
        font-size: 50px;
        margin-right: -50px;
    }

    .offre-text {
        text-align: start;
    }

    /* FAQ page */

    .faq.section {
        width: max-content;
    } 
    .faq-main-title {
        font-size: 4.5em;
        text-align: center;
    }

    .faq-title {
        font-size: 50px;
        text-align: center;
    }

    .faq-text {
        font-size: 30px;
    }

    /* CONTACT page */

    .contact-title {
        font-size: 4.5em;
    }

    section div {
        width: min-content;
    }
    section form {
        display: flex;
        flex-direction: column;
        margin-left: 200px;
        justify-content: center;
        width: min-content;
    }

    input {
        font-size: 60px;
        width: 800px;
    }

    textarea {
        font-size: 60px;
        width: 800px;
    }

    .submit-button {
        width: 250px;
        justify-content: center;
        margin-left: 300px;
    }

    /* VENDUS page */

    .vendus h2 {
        font-size: 4.5em;
    }

    #menu-toggle-vendus input {
        margin-left: 1300px; 
    }

    #menu-toggle-vendus span {
        margin-left: 1300px;
        
    }

    #menu-toggle-vendus ul {
        margin-left: 700px;
        padding-top: 80px;
    }

    .img-cards {
        width: auto;
        margin-left: 10rem;
        margin-right: 10rem;
        display:flex;
        justify-content: center;
    }

    .img-cards card {
        width: 70%; 
        background-color: yellow;
    }

    .img-cards img {
        position:unset;
        width: fit-content;
        height: 100%;
        margin: 0px;
    }

    .btn-back-cars {
        display: none;
    }

    .btn-fwd-cars {
        display: none;
    }

    /* FOOTER */

    .footer {
        font-size: 40px;
    }

    .footer p {
        font-size: 220px;

    }
    }




    @media (max-width: 768px) {
    
}
 




/* To do elements:
- back to top button
- social media buttons
- page Vendus on mobile: bigger the cards
- position of buttons on different desktop screen sizes on the page Vendus
- page Offre on mobile: text going out of the card
*/